@use '/src/partials/article';
@use '/src/partials/code';

polyline {
  fill: none;
}

line,
polyline {
  stroke: black;
  stroke-linecap: square;
  stroke-width: 2px;

  &.arrow {
    marker-end: url(#head);
  }

  &.diode {
    marker-end: url(#diode);
  }
}
