@use "/src/partials/hljs.scss";

code {
  @extend .hljs;
  font-family: inherit;
}

:not(pre) > code {
  border-radius: 2px;
  line-height: 1.6em;
  padding: 3px 4px;
}

pre {
  font: inherit;

  > code {
    border-radius: 4px;
    padding: 12px 16px;
    overflow-x: auto;
    text-align: left;
  }
}
