@use "/src/partials/hljs";

@font-face {
  font-family: "Fantasque Sans Mono";
  src: url("/assets/fonts/fantasque-sans-mono/regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fantasque Sans Mono";
  src: url("/assets/fonts/fantasque-sans-mono/italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Fantasque Sans Mono";
  src: url("/assets/fonts/fantasque-sans-mono/bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Fantasque Sans Mono";
  src: url("/assets/fonts/fantasque-sans-mono/bold-italic.woff2")
    format("woff2");
  font-weight: 700;
  font-style: italic;
}

body {
  margin: 0;
  font-family: "Fantasque Sans Mono";
}
